<!DOCTYPE html>
<html>
  <head lang="fr">
  	<title>ESTI | Login</title>
	<meta charset="utf-8">
  	<link rel="stylesheet" type="text/css" href="../Assets/css/acceuil.css">
  </head>
  <body>
	<header id="header">
		<nav class="nav">
			<img src="../Assets/img/logo.png" id="logo" alt="Logo ESTI">
			<a href="#">About us</a>
			<a href="#">Message</a>
			<a href="#">Proffesseur</a>
			<a href="#">Etudiant</a>
			<a href="#">Acceuil</a>
		</nav>
	</header>
	<main>
		<section id="panel" class="card">
			<h4>Catégorie</h4>
		</section>
		<section id="central" class="card">
			<p>hihihihi</p>
		</section>
	</main>

</body>