.table-card{
    width:100%;
    text-align:center;
    padding:2%;
}
.table-card tr{
    text-align:center;
    width: 100%;
}
.card-us {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
}
.card-img{
    width:100%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
    
