central{
    display:inline-block;
}
.card-liste-msg{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    float:left;
    text-align:left;
    padding:5%;
    width: 50%;
}

.card-liste-msg h1{
    margin-left:20%;
}
.card-liste-msg div{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    padding: 5%;
    margin-bottom:10%;
}

.card-liste-msg div h2{
    font-size :large;
}

.card-liste-msg div h2{
    font-size :large;
}

.card-send-msg{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    float:right;
    text-align:left;
    padding:5%;
    width: 45%;
}

.card-send-msg button{
    background-color:greenyellow;
}
