@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.ttf') format('truetype');
}

html {
  background-color: #009FE3;
}
body {
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
}

/* Appearance */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    width: 100%;
    z-index: 10;
}

.menu {
	background-color: #ffff;
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
	width: 100%;
	height: 10%;
	display: inline-block;
	padding-left: 1%
}
.menu > a {
	color: #009FE3;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	bottom: 0;
	float: right;
	border-bottom: 2px solid #ffff;
}
 .options:hover ,.options:focus {
	color: #24282F;
	border-bottom: 2px solid #009FE3;
}
#logo {
  float: left;
  width:80px;
}

.nav {
    display: inline-block;
    background-color: #ffff;
    width: 95%;
    font-size: medium;
    min-height: 30%;
    padding: 2%;  
    color: #24282F;
    border-radius: 4px;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
	  position: absolute;
    top: 11%;
    left: 3%;
    right: 0;
    text-align: center;
}


/*Avatar et Les info sur l'utilisateur*/
#avatar {
    width:120px;
    max-height: 120px;
    border-radius: 5px;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
}
#container-user{
    width: 50%;
    float: left;
}
#user-avatar{
    float: left;
}
#user-info{
  line-height : 5px;
  text-align: left;
  float: left;
  padding-left: 10%;
  height: 30%;
}
#fontion{
  text-transform: uppercase;
}

/*Boutton de deconnexion*/
button{
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border: 0 solid white;
  border-radius: 5px;
  text-decoration: none;
}
button a{
  text-decoration: none;
  color: white;
}
#logout-btn{
  background-color: #009FE3;
  float: right;
  border-radius: 5px;
  font-size: large;
}

main{
  font-size: medium;
  position: absolute;
  margin-top:20%;
  color: black;
  width: 98%;
  padding-left:2%;
}
.card{
  text-align: center;
  background-color: white;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
  padding-bottom: 2%;
  min-height: 520px;
}

#panel{
  float:left;	
  width: 20%;
}

section>h4{
  text-align: center;
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

#central{
  margin-right: 1%;
  float:right;
  width: 78%;
  padding : 2%;
}

section>ul{
  list-style: none;
  display: inline-block;
}

*:focus {
    outline: none;
} 

* {
  box-sizing: border-box;
}
